body {
    font-size: 11px;
}

a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #3A681A;
}

a:hover {
    color: #5CA22E;
}

a:active {
    color: #DC0000;
    text-decoration: underline;
}

.pole, .pole2 {
    border: 1px solid #008000;
    background-color: #E7F2D7;
    height: 17px;
}

.pole {
    width: 95px;
}